[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = 20.77.72.192  # Common Name (CN) should match your public IP


[v3_req]
keyUsage = keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
IP.1 = 20.77.72.192
IP.2 = 127.0.0.1
DNS.1 = localhost